.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
}

.header h3 {
    margin: 0;
}

.header button:disabled {
    cursor: not-allowed;
}

.user-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(148px, 1fr));
    gap: 16px;
}